/*Global*/
body{
  margin: 0;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

/*Header*/
.header-container{
  display: flex;
  padding: 0% 5%;
  background: #ffffff;
  border-bottom: #990000 2px solid;
  color: #990000;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

header a{
  text-decoration: none;
  color: #990000
}

.brand{
  font-family: 'Source Code Pro', monospace;
}

nav ul{
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

nav li a{
  padding: 10px 15px;
  border-radius: 20%;
}

.current a{
  background-color: #990000;
  color: #ffffff;
}

nav a:hover{
  background-color: #990000;
  color: #ffffff;
}

.current a:hover{
  color: lightgray;
}

/*feature*/
#feature{
  width: 100%;
  color: #ffffff;
  background-color: darkgrey;
  text-align: center;
  height: 700px;
}

#feature img{
  opacity: .4;
}

.text-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  line-height: 1.5;
}


.text-container h2{
  font-size: 4rem;
  margin: 0;
}

.text-container p{
  margin: 0;
}

/*Tiles*/
.tiles-container{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 5%;
  flex-wrap: wrap;
}

#tiles img{
  width: 90px;
  height: 90px;
}

.tile{
  width: 350px;
  height: 250px;
  padding: 5px;
  border: solid 4px #990000;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

/*Footer*/
.footer-container{
  background-color: #990000;
}

.cta-container{
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cta-heading{
  font-size: 2.5rem;
}

input{
  height: 30px;
  width: 200px;
  border-radius: 10px;
}

button{
  height: 38px;
  color: #990000;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  transition-duration: .3s;
}

button:hover{
  background-color: #990000;
  color: #ffffff;
}

.footer-text{
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  padding-bottom: 10px;
}


@media(max-width: 1250px){
  /*Header*/
  .header-container{
    flex-direction: column;
  }

  .brand{
    width: 100%;
    text-align: center;
  }

  nav{
    width: 100%;
  }

  nav ul{
    justify-content: center;
  }
  
  /*Tiles*/
  .tiles-container{
    flex-direction: column;
    margin: 0px auto;
  }

  .tile{
    width: 100%;
    margin: 5% 0;
  }

  /*Footer*/
  .cta-container{
    flex-direction: column;
  }

  .cta-heading{
    font-size: 1.5rem;
  }
}

/*Programs | main*/
article li{
  list-style: none;
  background: #e6e6e6;
  border: #990000 solid;
  padding: 20px;
  margin-top: 20px;
  margin-right: 40px;
}

#bot-main{
  width: 100%;
  background: #990000 center center;
  padding: 10px 20px 10px 20px;
  color: #ffffff;
}

#bot-main h3{
  float: left;
  width: 60%;
}


/*About us | Staff*/
#staff img{
  width: 300px;
  height: 300px;
}

#staff img{
  float: left;
  margin: 8px;
}

#staff figcaption{
  font-size: 20px;
  padding-top: 280px;
}

/*Gallery*/
#gallery img{
  width: 600px;
  height: 337px;
  margin: 10px;
}

/*
@media(max-width: 1000px){
  header h1,
  nav,
  nav li,
  #tiles .dark-tile,
  #tiles .light-tile,
  #call-to-action h3,
  #call-to-action form,
  #bot-main h3,
  #bot-main form,
  #feature h1,
  #staff,
  #staff img,
  #staff figcaption,
  #article-main,
  ul
  {
    float: none;
    text-align: center;
    width: 100%;
  }
  
  #bot-main{
    padding: 10px;
  }
  
  #staff img{
    width: 300px;
    height: 300px;
    display: block;
    margin-left:auto;
    margin-right: auto;
  }
  
  #staff figcaption{
    padding-top: 10px;
  }
  
  form input, button, #call-to-action{
    width: 100%;
    margin-bottom: 10px;
    display: block;
  }
  
  #gallery img{
    width: 320px;
    height: 180px;
    display: block;
    margin-left:auto;
    margin-right: auto;
  }
} */